[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
google-cloud-aiplatform = "*"
pillow = "*"
pdf2image = "*"
poppler-utils = "*"
"google.cloud" = "*"
pymupdf = "*"

[dev-packages]

[requires]
python_version = "3.9"
