[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
google-cloud-aiplatform = "*"
pillow = "*"
pdf2image = "*"
poppler-utils = "*"
"google.cloud" = "*"
langchain = "*"
langchain-google-vertexai = "*"
google-cloud-bigquery = "*"
streamlit = "*"
pgvector = "*"
psycopg2-binary = "*"
tiktoken = "*"
cloud-sql-python-connector = {extras = ["pg8000"], version = "*"}
ratelimit = "*"
backoff = "*"
pymupdf = "==1.23.12"
retry = "*"
streamlit-js-eval = "*"

[dev-packages]

[requires]
python_version = "3.9"
